*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #111;
    position: relative;
    z-index: 1;
}

h1, h2, h3, h4 {
    font-weight: 500;
}
 
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.container-md {
    max-width: 100rem;
    margin: 0 auto;
}

@media only screen and (max-width:1200px){
    .container {
        padding: 0 3rem;
    }

    .container-md{
        padding: 0 3rem;
    }
}

/* navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgb(41, 187, 41);
    box-shadow: 0 5px 20px rgba( 0, 0, 0, 05);
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    
}

header .logo {
    color: #111;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #111;
    font-weight: 300;
}

header .navigation li a:hover {
    color: rgba(255, 255, 255, 0.945);
}

.dropbtn {
    color: white;
    padding: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #83e948;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(46, 196, 33);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #156d18;}

/* Banner */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/banner.jpeg);
    background-size: cover;
    
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 3em;
    color: #fff;
}

.banner .content p {
    font-size: 1.2em;
    color: #fff;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #349b34cc;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 4px;
}

/* Responsive */
@media (max-width:991px) {

    header {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(41, 187, 41);
    }

    header .navigation li {
        list-style: none;
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../img/menudark.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(../img/closedark.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    .banner .content h2 {
        font-size: 2.2em;
        color: #fff;
    }

    header .navigation .dropdown .dropdown-content a{
        font-size: 16px;
    }

    .dropdown:hover .dropbtn {
        background: none;
    }
}

/* Top products */
.title {
    margin: 4rem 0 7rem 0;
    text-align: center;
}

.title h1{
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.title h1::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 146, 12);
    width: 50%;
    height: 0.4rem;
    z-index: 1;
}

.product-center{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem 3rem;
}

.product {
    height: 40rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.15);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.product:hover{
    box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.25);
}

.product-header {
    position: relative;
    background-color: #f6f2f1;
    height: 30rem;
    transition: all 300ms ease-in-out;
    z-index: 0;
}

.product-header img {
    height: 100%;
}

.product-footer {
    padding: 2rem 1.6rem 1.6rem 1.6rem;
}

.product-footer h3 {
    font-size: 1.8rem;
}

.rating {
    color: #27ae60;

}

.product-footer .price {
    color: #111;
    font-size: 2rem;
}

.product:hover .product-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: rgba( 0, 0, 0, 0.5);
    z-index: 1;
    transition: all 500ms ease-in-out;
}

.product-header .icons {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.product-header .icons span {
    background-color: #fff;
    font-size: 2.5rem;
    display: block;
    border-radius: 50%;
    padding: 1.5rem 1.6rem;
    line-height: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.product-header .icons span i {
    transition: all 500ms ease-in-out;
}

.product-header .icons span:not(:last-child) {
    margin-bottom: 1rem;
}

.product-header .icons span:hover {
    background: #27ae60;
    color: #fff;
}

.product:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}

.product:hover .icons a {
    display: block;
    margin-bottom: 1rem;
}


/* our services */
.services {
    background: #111;
    padding-top: 5px;
    /* padding-bottom: 10px; */
}

.title.white {
    color: #fff;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .servicesBx:hover {
    background: rgb(35, 112, 5);
}

.services .content .servicesBx img {
    max-width: 80px;
    filter: invert(1);
}

.services .content .servicesBx h2 {
    font-size: 20px;
    font-weight: 600;
}

/* about us */
.about{
    padding: 50px 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}   

.titleText span {
    color: green;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}

.row .col50 .imgBx img{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* User comments */
.testimonial {
    background: #f7f7f7;
    padding: 5px 100px;
}

.testimonial .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial .content .testimonialBx {
    max-width: calc(50% - 40px);
    padding: 50px 20px;
    margin: 20px;
    background: #368601b7;
}

.testimonial .content .testimonialBx p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.testimonial .content .testimonialBx h3 {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1em;
}

.testimonial .content .testimonialBx h3 span {
    font-size: 14px;
    font-weight: 400;
}

/* Footer */
.footer {
    background-color: #111;
    padding: 6rem 1rem;
    line-height: 3rem;
}
  
.footer-center span {
    margin-right: 1rem;
}
  
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #fff;
}

.footer-center a:link,
.footer-center a:visited {
    display: block;
    color: #f1f1f1;
    font-size: 1.4rem;
    transition: 0.6s;
}

.footer-center a:hover {
    color: rgb(91, 158, 3);
}

.footer-center div {
    color: #f1f1f1;
    font-size: 1.4rem;
}

.footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@media (max-width:991px) {
    .about {
        padding: 20px;
    }

    .testimonial {
        padding: 10px 10px;
    } 

    .row {
        flex-direction: column;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }

    .services .content .servicesBx {
        margin: 20px;
    }

    .testimonial .content .testimonialBx {
        max-width: calc(100% - 10px);
        padding: 40px 20px;
        margin: 10px;
        background: #368601b7;
    }

    .testimonial .content .testimonialBx h3 {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 998px) {
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
  }
  
@media only screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
}

/* All Products */
.section .top {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  
.all-products .top select {
    font-family: "Poppins", sans-serif;
    width: 20rem;
    padding: 1rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
}
  
form {
    position: relative;
    z-index: 1;
}

form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
}

@media only screen and (max-width: 768px) {
    .all-products .top select {
        width: 15rem;
    }
}
  
/* Pagination */
.pagination {
    padding: 3rem 0 5rem 0;
  }
  
  .pagination span {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px solid #000000;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  
  .pagination span:hover {
    border: 1px solid #243a6f;
    background-color: #309104;
    color: #fff;
  }


/* Product Detail */
.product-detail {
    padding-top: 100px;
}

.product-detail .details {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 7rem;
  }
  
  .product-detail .left {
    display: flex;
    flex-direction: column;
  }
  
  .product-detail .left .main {
    text-align: center;
    background-color: #f6f2f1;
    margin-bottom: 2rem;
    height: 45rem;
    padding: 3rem;
  }
  
  .product-detail .left .main img {
    object-fit: contain;
    height: 100%;
  }
  
  .product-detail .thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .product-detail .thumbnail {
    width: 10rem;
    height: 10rem;
    background-color: #f6f2f1;
    text-align: center;
  }
  
  .product-detail .thumbnail img {
    height: 100%;
    object-fit: contain;
  }
  
  .product-detail .right span {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .product-detail .right h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  
  .product-detail .right .price {
    font-size: 600;
    font-size: 2rem;
    color: #000000;
    margin-bottom: 2rem;
  }
  
  .product-detail .right div {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .product-detail .right select {
    font-family: "Poppins", sans-serif;
    width: 20rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
  }
  
  .product-detail form {
    margin-bottom: 2rem;
  }
  
  .product-detail form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }
  
  .product-detail .form {
    margin-bottom: 3rem;
  }
  
  .product-detail .form input {
    padding: 0.8rem;
    text-align: justify;
    width: 6.5rem;
    margin-right: 1rem;
  }
  
  .product-detail .form .addCart {
    background: #057722;
    padding: 0.8rem 4rem;
    color: #fff;
    border-radius: 3rem;
  }
  
  .product-detail h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .product-detail div .msgFarmer {
    margin-top: 2rem;
    padding-bottom: 10px;
    border-style: solid;
    width: 10rem;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .product-detail div .msgFarmer:hover{
    background-color: #309104;
    color: white;
    border: #057722;
  }

#related {
      /* margin-bottom: 100px; */
      padding-bottom: 50px;
}

  @media only screen and (max-width: 996px) {
    .product-detail .left {
      width: 30rem;
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  
    .product-detail .thumbnails {
      width: 30rem;
      gap: 0.5rem;
    }
  
    .product-detail .thumbnail {
      width: auto;
      height: 10rem;
      background-color: #f6f2f1;
      text-align: center;
      padding: 0.5rem;
    }
  }
  
  @media only screen and (max-width: 650px) {
    .product-detail .details {
      grid-template-columns: 1fr;
    }
  
    .product-detail .right {
      margin-top: 10rem;
    }
  
    .product-detail .left {
      width: 100%;
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  
    .product-detail .thumbnails {
      width: 100%;
      gap: 0.5rem;
    }
  }

/* Cart Items */
.cart {
    margin: 10rem auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 0.5rem;
    color: #fff;
    background-color: #494949;
    font-weight: normal;
  }
  
  td {
    padding: 1rem 0.5rem;
  }
  
  td input {
    width: 5rem;
    height: 3rem;
    padding: 0.5rem;
  }
  
  td a {
    color: rgb(59, 160, 56);
    font-weight: 700;
    font-size: 1.4rem;
  }
  
  td img {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .total-price table {
    border-top: 3px solid #444444;
    width: 100%;
    max-width: 35rem;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  
  @media only screen and (max-width: 567px) {
    .cart-info p {
      display: none;
    }
  }

/* News */
.news-center{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem 3rem;
}

.news-center .product {
  height: 55rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.15);
  border-radius: 1rem;
  text-align: left;
  transition: all 300ms ease-in-out;
}

.news-center .product .product-footer span{
  font-size: 12px;
  margin-bottom: 10px;
  font-style: italic;
}

.news-center .product .product-footer h3{
  font-weight: bold;
  padding-bottom: 20px;
}

.news-center .product .product-footer p{
  font-size: 15px;
}

.news-center .product .product-footer a{
  color: #006d2d;
}

.news-center .product .product-footer a:hover{
  color: #02411c;
  font-weight: bold;
}

.news {
  padding-bottom: 100px;
}

/* Search box */
.search {
  padding-top: 100px;
}
.wrapper {
  position: relative;
  left: 50%;
  transform: translate(-20%);
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); */
}

.wrapper .search-box {
  width: 500px;
  background: rgb(245, 245, 245);
  height: 65px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8 66px -10px #018f14;
}

.wrapper .search-box .dropdown {
  width: 150px;
  border-right: 2px solid #a7a7a7;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search-box .dropdown .default-option {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
  user-select: none;
}

.wrapper .search-box .dropdown ul {
  display: none;
  position: absolute;
  top: 70px;
  left: -10px;
  background: rgb(75, 72, 72);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search-box .dropdown ul li {
  padding-bottom: 20px;
  user-select: none;
}

.wrapper .search-box .dropdown #categ.active{
  display: block;
  z-index: 1;
}

.wrapper .search-box .dropdown ul li:last-child {
  padding-bottom: 0;
}

.wrapper .search-box .dropdown ul li:hover {
  color: #ddd9d9;
}

.wrapper .search-box .dropdown::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #03a534 transparent transparent transparent;
}

.wrapper .search-box .search-field {
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search-box .search-field .input {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.wrapper .search-box .search-field .fa {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 22px;
  color: #309104;
  cursor: pointer;
} 

::-webkit-input-placeholder {
  color: #9fa3b1;
}

::-moz-input-placeholder {
  color: #9fa3b1;
}

::-ms-input-placeholder {
  color: #9fa3b1;
}

/* user comments */
.user-comments {
  margin-left: 100px;
}
.user-comments h1{
  font-size: 15px;
}


/* payment */
.payment {
  padding-top: 100px;
  padding-bottom: 100px;
}