*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #111;
    position: relative;
    z-index: 1;
}

h1, h2, h3, h4 {
    font-weight: 500;
}
 
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.container-md {
    max-width: 100rem;
    margin: 0 auto;
}

@media only screen and (max-width:1200px){
    .container {
        padding: 0 3rem;
    }

    .container-md{
        padding: 0 3rem;
    }
}

/* navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgb(41, 187, 41);
    box-shadow: 0 5px 20px rgba( 0, 0, 0, 05);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header .logo {
    color: #111;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #111;
    font-weight: 300;
}

header .navigation li a:hover {
    color: rgba(255, 255, 255, 0.945);
}

/* Banner */
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/banner.jpeg);
    background-size: cover;
    
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-size: 3em;
    color: #fff;
}

.banner .content p {
    font-size: 1.2em;
    color: #fff;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #68cf68cc;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 4px;
}

/* Responsive */
@media (max-width:991px) {

    header {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        width: 100%;
        height: calc(100% - 60px);
        position: fixed;
        top: 60px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(41, 187, 41);
    }

    header .navigation li {
        list-style: none;
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(/img/menudark.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active {
        background: url(/img/closedark.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .menuToggle {
        filter: invert(1);
    }

    .banner .content h2 {
        font-size: 2.2em;
        color: #fff;
    }
}

/* Top products */
.title {
    margin: 4rem 0 7rem 0;
    text-align: center;
}

.title h1{
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.title h1::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 146, 12);
    width: 50%;
    height: 0.4rem;
    z-index: 1;
}

.product-center{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem 3rem;
}

.product {
    height: 40rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.15);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.product:hover{
    box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.25);
}

.product-header {
    position: relative;
    background-color: #f6f2f1;
    height: 30rem;
    transition: all 300ms ease-in-out;
    z-index: 0;
}

.product-header img {
    height: 100%;
}

.product-footer {
    padding: 2rem 1.6rem 1.6rem 1.6rem;
}

.product-footer h3 {
    font-size: 1.8rem;
}

.rating {
    color: #27ae60;

}

.product-footer .price {
    color: #111;
    font-size: 2rem;
}

.product:hover .product-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: rgba( 0, 0, 0, 0.5);
    z-index: 1;
    transition: all 500ms ease-in-out;
}

.product-header .icons {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.product-header .icons span {
    background-color: #fff;
    font-size: 2.5rem;
    display: block;
    border-radius: 50%;
    padding: 1.5rem 1.6rem;
    line-height: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.product-header .icons span i {
    transition: all 500ms ease-in-out;
}

.product-header .icons span:not(:last-child) {
    margin-bottom: 1rem;
}

.product-header .icons span:hover {
    background: #27ae60;
    color: #fff;
}

.product:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
}

.product:hover .icons a {
    display: block;
    margin-bottom: 1rem;
}


/* our services */
.services {
    background: #111;
    padding-top: 5px;
    /* padding-bottom: 10px; */
}

.title.white {
    color: #fff;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .servicesBx:hover {
    background: rgb(35, 112, 5);
}

.services .content .servicesBx img {
    max-width: 80px;
    filter: invert(1);
}

.services .content .servicesBx h2 {
    font-size: 20px;
    font-weight: 600;
}

/* about us */
.about{
    padding: 50px 100px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}   

.titleText span {
    color: green;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}

.row .col50 .imgBx img{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* User comments */
.testimonial {
    background: #f7f7f7;
    padding: 5px 100px;
}

.testimonial .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonial .content .testimonialBx {
    max-width: calc(50% - 40px);
    padding: 50px 20px;
    margin: 20px;
    background: #368601b7;
}

.testimonial .content .testimonialBx p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.testimonial .content .testimonialBx h3 {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1em;
}

.testimonial .content .testimonialBx h3 span {
    font-size: 14px;
    font-weight: 400;
}


@media (max-width:991px) {
    .row {
        flex-direction: column;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }

    .services .content .servicesBx {
        margin: 20px;
    }


    .testimonial .content .testimonialBx {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background: #368601b7;
    }

    .testimonial .content .testimonialBx h3 {
        margin-top: 20px;
    }
}